body {
    margin: 0%;
    padding: 0;
}

/* text size */

h1 {
font-size: 2rem;
font-family: 'Poppins', sans-serif;
font-weight: 500;
text-transform: uppercase;
color: rgb(191, 141, 91);

margin: 0;
}

h2 {
    font-size: 6rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    margin: 0;
}

.your-style {
    /* color: transparent; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}

.nav {
 width: 100%;
 height: 4rem;
 background-color: rgba(0, 0, 0, 0.511); 
 position: fixed;
 top: 0;
 left: 0; /* utifall det är mellanru runt nav baren */
}

.header, .sec-2,.sec-3, .sec-4, .sec-5 {
    background: url('../img/Barbershop.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {

    width: 60%;
    color: white;

}

.body-wrapper {
    height: 242px;
    width: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.body-border {
    align-self: flex-end;
    position: relative;
    top: 95px;
    height: 300px;
    width:10px;
    margin: 0;
    border-left: 4px solid rgb(191, 141, 91);
}

.body-txt {
text-overflow: wrap;
width: 850px;
margin-left: 15%;
/* border-spacing: -50px; */
/* border-radius: 1rem; */
}

.body-txt p {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  
}

.about-header-button {
    padding: 10px;
    border: 4px solid rgb(191, 141, 91);
    display: inline-block;
}

.learn-more-header {
font-size: 2rem;
font-family: 'Poppins', sans-serif;
font-weight: 500;
text-transform: uppercase;
color: rgb(191, 141, 91);
}



.sec-2, .sec-3, .sec-4, .sec-5 {
    margin: 0%;
    padding: 0;
}

.sec-2 {
    background-color:transparent;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
}

.service-1, .service-2, .service-3, .service-4 {
 
    background-color: aliceblue;
    justify-content: space-evenly;
    height: 475px;
    width: 320px;
    
    
}

.sec-3 {
    /* height: 920px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-3-wrapper{
 background-color:transparent;
 position: relative;
 height: 610px;
 width: 100%;display: flex;
 align-items: flex-end;
 justify-content:center;
}

.about-bg {
    background-color: white;
    position: relative;
    height: 610px;
    width: 1376px;
}

.about-img {
    background-color: crimson;
    position: absolute;
    top:-68px;
    left:119px;
    height: 610px;
    width:480px;
    justify-self: flex-start;
    align-self: flex-start;
}

.about-txt {
 background-color: green;
 position:absolute;
 height: 355px;
 width: 640px;
 right:86px;
 top:35px;
 
}

.exp {
 background-color:yellow;
 position:absolute;
 bottom:68px;
 right:283px;
 width:438px;
 height:118px;
/* -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 20%); komplitett till gamla webbläsare*/
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.sec-4 {
    height: 1080px;
    width: 100%;
}

.sec-5 {
    height: 1080px;
    width: 100%;
}
